<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="Track your team's pair programming history and get recommendations for the day's pairing session.">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Pears.dev" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍐</text></svg>">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="min-h-screen bg-white">
      <nav class="bg-white shadow-sm">
        <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex">
              <div class="flex-shrink-0 flex items-center">
                <a href="<%= Routes.home_path(@conn, :show) %>">
                  <div class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-green-300 transition duration-150 ease-in-out" id="user-menu" aria-label="User menu" aria-haspopup="true">
                    <span class="inline-flex items-center justify-center h-12 w-12 rounded-full bg-green-500">
                      <span class="text-lg font-medium leading-none text-white">🍐</span>
                    </span>
                  </div>
                </a>
              </div>
              <div class="hidden sm:ml-6 space-x-8 sm:flex">
                <a href="<%= Routes.home_path(@conn, :show) %>" class="<%= if @conn.request_path != Routes.team_settings_path(@conn, :edit), do: "border-green-500", else: "border-transparent" %> inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-green-700 transition duration-150 ease-in-out">
                  Home
                </a>

                <a href="<%= Routes.team_settings_path(@conn, :edit) %>" class="<%= if @conn.request_path == Routes.team_settings_path(@conn, :edit), do: "border-green-500", else: "border-transparent" %> inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                  Settings
                </a>
              </div>
            </div>
            <div class="flex">
              <div class="hidden sm:ml-6 space-x-8 sm:flex">
                <%= link "Log out", to: Routes.team_session_path(@conn, :delete), method: :delete,
                 class: "inline-flex items-center px-1 pt-1 border-transparent border-b-2 text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out" %>
              </div>
            </div>
          </div>
        </div>

        <!--
          Mobile menu, toggle classes based on menu state.

          Open: "block", closed: "hidden"
        -->
        <div class="hidden sm:hidden">
          <div class="pt-2 pb-3 space-y-1">
            <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-green-500 text-base font-medium text-green-700 bg-green-50 focus:outline-none focus:text-green-800 focus:bg-green-100 focus:border-green-700 transition duration-150 ease-in-out">
              Dashboard
            </a>

            <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
              Team
            </a>

            <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
              Projects
            </a>

            <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
              Calendar
            </a>
          </div>
          <div class="pt-4 pb-3 border-t border-gray-200">
            <div class="mt-3 space-y-1" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">
                Your Profile
              </a>

              <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">
                Settings
              </a>

              <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100 focus:outline-none focus:text-gray-800 focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">
                Log out
              </a>
            </div>
          </div>
        </div>
      </nav>

      <div class="pt-10">
        <main>
          <div class="max-w-8xl mx-auto sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <%= @inner_content %>
            <!-- /End replace -->
          </div>
        </main>
      </div>

      <nav class="bg-white">
        <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex">
            </div>
            <div class="flex">
              <div class="flex-shrink-0 flex items-center">
                <a href="mailto:help@pears.dev?subject=Pears Feedback - Team: <%= @current_team.name %>" title="Send us feedback or questions!">
                  <div class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out" id="feedback-link">
                    <span class="inline-flex items-center justify-center h-12 w-12 rounded-full bg-white">
                      <span class="text-lg font-medium leading-none text-gray-500">
                        <svg class="-ml-0.5 mr-1 h-6 w-6" viewBox="0 0 19 24" stroke="currentColor" fill="none">
                          <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                          <line x1="4" y1="22" x2="4" y2="15"></line>
                        </svg>
                      </span>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
