<h1>Pears.dev</h1>

<section>
  <form phx-change="validate_name" phx-submit="create_team">
    <label>Create Team</label>
    <input type="text" name="team-name" value="<%= @team_name %>" placeholder="New team name" autocomplete="off"/>
    <button type="submit" phx-disable-with="Creating...">Create</button>
  </form>
</section>
