/* This file is for your main application css. */
@import "./milligram.css";
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";
@import url('https://fonts.googleapis.com/css?family=Roboto|Titan+One');

/* Team Page styles */
article {
  padding: 1rem;
}

.board {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 3fr;
  height: 90vh;
}

.left-column {
  grid-column: 1;
  border-right: 3px dashed #EAEAEA;
  padding: 1rem;
}

.right-column {
  grid-column: 2;
}

.available-pears, .unavailable-pears {
  height: 40vh;
}

.tracks-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.track {
  .track-name {
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  border: 1px solid #EAEAEA;
  margin: 1rem;
  padding: 1rem;
  height: 200px;
  width: 400px;
}

.pill.button, .pill.button:hover {
  border-radius: 500px;
  color: var(--pill-text-color);
  background-color: var(--pill-color);
  border-color: var(--pill-color);
}

.pill.button:hover, .pill.selected {
  box-shadow: var(--selected-shadow);
}

/* app styles */

html {
  --cta-color: #588F27;
  --link-color: #588F27;
  --logo-color: #588F27;
  --bg-color: #FAFAFA;
  --pill-color: #588F27;
  --pill-text-color: #FFFFFF;
  --selected-shadow: 0px 0px 5px 1px var(--pill-color);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  font-size: 18px;
}

a.logo, a.logo:hover, .logo {
  font-family: 'Titan One', cursive;
  font-size: 40px;
  color: var(--logo-color);
  text-decoration: none;
}

.button, button {
  background-color: var(--cta-color);
  border-color: var(--cta-color);
}

.button:focus, .button:hover, button:focus, button:hover, input[type='button']:focus, input[type='button']:hover, input[type='reset']:focus, input[type='reset']:hover, input[type='submit']:focus, input[type='submit']:hover {
  background-color: var(--cta-color);
  border-color: var(--cta-color);
  filter: brightness(95%);
}

.button.button-outline {
  color: var(--cta-color);
  border-color: var(--cta-color);
}

.button.button-outline:focus, .button.button-outline:hover, button.button-outline:focus, button.button-outline:hover, input[type='button'].button-outline:focus, input[type='button'].button-outline:hover, input[type='reset'].button-outline:focus, input[type='reset'].button-outline:hover, input[type='submit'].button-outline:focus, input[type='submit'].button-outline:hover {
  color: var(--cta-color);
  border-color: var(--cta-color);
  filter: brightness(95%);
}

header h1 {
  margin-bottom: 0;
}

@media (max-width: 40.0rem) {
  header section {
    grid-template-columns: 1fr !important;
  }

  header nav ul {
    margin-left: 0;
  }
}

header section {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: start;
  align-items: center;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:focus, a:hover {
  color: var(--link-color);
  filter: brightness(90%);
}

select {
  width: 100%;
}

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 40rem;
  max-height: 22rem;
  border-radius: 10px;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
