<div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
  <a href="https://slack.com/oauth/v2/authorize?state=onboard&client_id=169408119024.1514845190500&scope=app_mentions:read,channels:read,chat:write,commands,im:history,im:read,im:write,users:read&user_scope=">
    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
  </a>
</div>