<h2>Add Track</h2>

<form phx-submit="add_track" phx-target="<%= @myself %>">
  <label>
    Name
    <input type="text" name="track-name" value="<%= @track_name %>" placeholder="What's this track's name?" autocomplete="off" autofocus/>
  </label>
  <button type="submit" phx-disable-with="Add...">Add</button>
</form>