# Modifying the actions? Don't like pushing to GitHub to find out whether your changes worked?
# Consider act: https://github.com/nektos/act
#
# WARNING: you'll need the 18.2GB GitHub-compatible Docker image:
#   act -P ubuntu-18.04=nektos/act-environments-ubuntu:18.04

name: pears_ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  HONEYCOMB_KEY: ${{ secrets.HONEYCOMB_KEY }}
  ADMIN_USER: ${{ secrets.ADMIN_USER }}
  ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
  TIMBER_KEY: ${{ secrets.TIMBER_KEY }}
  TIMBER_SOURCE_ID: ${{ secrets.TIMBER_SOURCE_ID }}
  SLACK_CLIENT_ID: ${{ secrets.SLACK_CLIENT_ID }}
  SLACK_CLIENT_SECRET: ${{ secrets.SLACK_CLIENT_SECRET }}
  CLOAK_KEY: ${{ secrets.CLOAK_KEY }}

jobs:
  check:
    runs-on: ubuntu-18.04
    name: Format/Lint (Elixir ${{matrix.elixir}} on OTP ${{matrix.otp}})
    strategy:
      matrix:
        otp: ["23.0"]
        elixir: ["1.10"]
    steps:
      - uses: kvrhdn/gha-buildevents@main
        with:
          apikey: ${{ secrets.HONEYCOMB_KEY }}
          dataset: pears_buildevents
          job-status: ${{ job.status }}
      - uses: actions/checkout@v2
        with:
          ref: master # Checkout out master instead of the latest commit
      - name: Set up Elixir
        uses: actions/setup-elixir@v1
        with:
          elixir-version: ${{matrix.elixir}}
          otp-version: ${{matrix.otp}}
      - name: Restore dependencies cache
        uses: actions/cache@v2
        env:
          cache-name: deps
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-
      - name: Restore _build cache
        uses: actions/cache@v1.1.2
        env:
          cache-name: _build
        with:
          path: _build
          key: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-
      - name: mix deps.get
        run: |
          mix deps.get
          mix deps.unlock --unused
          mix deps.clean --unused
          git diff --exit-code mix.lock
      - name: mix compile
        run: |
          mix deps.compile
          mix compile
      - name: mix format
        run: |
          mix format --check-formatted --dry-run --check-equivalent
      - name: mix credo
        run: mix credo --strict

  test:
    runs-on: ubuntu-18.04
    name: Unit Tests (Elixir ${{matrix.elixir}} on OTP ${{matrix.otp}})
    strategy:
      matrix:
        otp: ["23.0"]
        elixir: ["1.10"]
    services:
      test_db:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: pears_test
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: kvrhdn/gha-buildevents@main
        with:
          apikey: ${{ secrets.HONEYCOMB_KEY }}
          dataset: pears_buildevents
          job-status: ${{ job.status }}
      - uses: actions/checkout@v2
        with:
          ref: master # Checkout out master instead of the latest commit
      - name: Set up Elixir
        uses: actions/setup-elixir@v1
        with:
          elixir-version: ${{matrix.elixir}}
          otp-version: ${{matrix.otp}}
      - name: Restore dependencies cache
        uses: actions/cache@v2
        env:
          cache-name: deps
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-
      - name: Restore _build cache
        uses: actions/cache@v1.1.2
        env:
          cache-name: _build
        with:
          path: _build
          key: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-
      - name: mix deps.get
        run: mix deps.get
      - name: mix test
        run: mix test --trace

  e2e:
    runs-on: ubuntu-18.04
    name: E2E Tests (${{matrix.containers}})
    strategy:
      fail-fast: false
      matrix:
        otp: ["23.0"]
        elixir: ["1.10"]
        containers: [1, 2, 3]
    services:
      ci_db:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: pears_ci
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: kvrhdn/gha-buildevents@main
        with:
          apikey: ${{ secrets.HONEYCOMB_KEY }}
          dataset: pears_buildevents
          job-status: ${{ job.status }}
      - uses: actions/checkout@v2
        with:
          ref: master # Checkout out master instead of the latest commit
      - name: Set up Elixir
        uses: actions/setup-elixir@v1
        with:
          elixir-version: ${{matrix.elixir}}
          otp-version: ${{matrix.otp}}
      - name: Restore dependencies cache
        uses: actions/cache@v2
        env:
          cache-name: deps
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-
      - name: Restore _build cache
        uses: actions/cache@v1.1.2
        env:
          cache-name: _build
        with:
          path: _build
          key: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ env.cache-name }}-
      - name: mix deps.get
        run: mix deps.get
      - name: start e2e server in the background
        run: |
          cd assets
          npm install
          node node_modules/webpack/bin/webpack.js --mode production
          cd ..
          mix do ecto.create, ecto.migrate
          mix phx.server &
        env:
          MIX_ENV: ci
      - name: cypress test
        uses: cypress-io/github-action@v2
        with:
          wait-on: 'http://localhost:5000'
          working-directory: ui_tests
          browser: chrome
          record: true
          parallel: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-videos
          path: assets/cypress/videos

  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Production
    needs: [check, test, e2e]
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: kvrhdn/gha-buildevents@main
        with:
          apikey: ${{ secrets.HONEYCOMB_KEY }}
          dataset: pears_buildevents
          job-status: ${{ job.status }}
      - uses: actions/checkout@v2
        with:
          ref: master # Checkout out master instead of the latest commit
          fetch-depth: 0 # Checkout the whole branch
      - name: deploy
        uses: mhanberg/gigalixir-action@v0.4.0
        with:
          GIGALIXIR_USERNAME: ${{ secrets.GIGALIXIR_USERNAME }}
          GIGALIXIR_PASSWORD: ${{ secrets.GIGALIXIR_PASSWORD }}
          GIGALIXIR_APP: pears
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          MIGRATIONS: false
      - name: create honeycomb marker
        run: |
          curl https://api.honeycomb.io/1/markers/pears \
            -X POST \
            -H "X-Honeycomb-Team: ${{ secrets.HONEYCOMB_KEY }}" \
            -d '{"message":"${{ github.sha }}", "url":"https://github.com/marcdel/pears/commit/${{ github.sha }}", "type":"deploy"}'